.novella-site-title,
.novella-entry-cats,
.novella-entry-author {
    position: absolute;
    left:-10000px;
}

.novella-entry-title {
    text-align: center;

    i {
        font-size:inherit;
        position: relative;
        top:6px;
        margin-right:40px;
        color:@brand-danger;
    }
}

.aesoploves-brand {
    position: absolute;
    width:46px;
    top:2px;
}